*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
.logo img{
    height: 45px;
}
.nav ul{
    display: flex;
    font-size: 1.6em;
    font-weight: 400;
    list-style: none;
}
.nav li{
    display: flex;
    justify-content: space-evenly;
}